In [1]:
import pandas as pd
import numpy as np

In [2]:
zaky = pd.read_csv('./cars.csv')
print(zaky)

      Make                    Model   Type  Origin DriveTrain     MSRP  \
0    Acura                      MDX    SUV    Asia        All  36945.0
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  23820.0
2    Acura                  TSX 4dr  Sedan    Asia      Front  26990.0
3    Acura                   TL 4dr  Sedan    Asia      Front  33195.0
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  43755.0
..     ...                      ...    ...     ...        ...      ...
423  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  40565.0
424  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  42565.0
425  Volvo               S80 T6 4dr  Sedan  Europe      Front  45210.0
426  Volvo                      V40  Wagon  Europe      Front  26135.0
427  Volvo                     XC70  Wagon  Europe        All  35145.0

     Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    33337.0         3.5        6.0       265.0      17.0         23.0
1    21761.0         2.0        4.0       200.0      24.0         31.0
2    24647.0         2.4        4.0       200.0      22.0         29.0
3    30299.0         3.2        6.0       270.0      20.0         28.0
4    39014.0         3.5        6.0       225.0      18.0         24.0
..       ...         ...        ...         ...       ...          ...
423  38203.0         2.4        5.0       197.0      21.0         28.0
424  40083.0         2.3        5.0       242.0      20.0         26.0
425  42573.0         2.9        6.0       268.0      19.0         26.0
426  24641.0         1.9        4.0       170.0      22.0         29.0
427  33112.0         2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
0    4451.0      106.0   189.0
1    2778.0      101.0   172.0
2    3230.0      105.0   183.0
3    3575.0      108.0   186.0
4    3880.0      115.0   197.0
..      ...        ...     ...
423  3450.0      105.0   186.0
424  3450.0      105.0   186.0
425  3653.0      110.0   190.0
426  2822.0      101.0   180.0
427  3823.0      109.0   186.0

[428 rows x 15 columns]

In [3]:
print(zaky[:1])

    Make Model Type Origin DriveTrain     MSRP  Invoice  EngineSize  \
0  Acura   MDX  SUV   Asia        All  36945.0  33337.0         3.5

   Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  Wheelbase  Length
0        6.0       265.0      17.0         23.0  4451.0      106.0   189.0

In [6]:
print(zaky[:22])

     Make                           Model    Type  Origin DriveTrain     MSRP  \
0   Acura                             MDX     SUV    Asia        All  36945.0
1   Acura                  RSX Type S 2dr   Sedan    Asia      Front  23820.0
2   Acura                         TSX 4dr   Sedan    Asia      Front  26990.0
3   Acura                          TL 4dr   Sedan    Asia      Front  33195.0
4   Acura                      3.5 RL 4dr   Sedan    Asia      Front  43755.0
5   Acura         3.5 RL w/Navigation 4dr   Sedan    Asia      Front  46100.0
6   Acura          NSX coupe 2dr manual S  Sports    Asia       Rear  89765.0
7    Audi                     A4 1.8T 4dr   Sedan  Europe      Front  25940.0
8    Audi          A41.8T convertible 2dr   Sedan  Europe      Front  35940.0
9    Audi                      A4 3.0 4dr   Sedan  Europe      Front  31840.0
10   Audi       A4 3.0 Quattro 4dr manual   Sedan  Europe        All  33430.0
11   Audi         A4 3.0 Quattro 4dr auto   Sedan  Europe        All  34480.0
12   Audi                      A6 3.0 4dr   Sedan  Europe      Front  36640.0
13   Audi              A6 3.0 Quattro 4dr   Sedan  Europe        All  39640.0
14   Audi          A4 3.0 convertible 2dr   Sedan  Europe      Front  42490.0
15   Audi  A4 3.0 Quattro convertible 2dr   Sedan  Europe        All  44240.0
16   Audi        A6 2.7 Turbo Quattro 4dr   Sedan  Europe        All  42840.0
17   Audi              A6 4.2 Quattro 4dr   Sedan  Europe        All  49690.0
18   Audi                A8 L Quattro 4dr   Sedan  Europe        All  69190.0
19   Audi                  S4 Quattro 4dr   Sedan  Europe        All  48040.0
20   Audi                        RS 6 4dr  Sports  Europe      Front  84600.0
21   Audi  TT 1.8 convertible 2dr (coupe)  Sports  Europe      Front  35940.0

    Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  \
0   33337.0         3.5        6.0       265.0      17.0         23.0  4451.0
1   21761.0         2.0        4.0       200.0      24.0         31.0  2778.0
2   24647.0         2.4        4.0       200.0      22.0         29.0  3230.0
3   30299.0         3.2        6.0       270.0      20.0         28.0  3575.0
4   39014.0         3.5        6.0       225.0      18.0         24.0  3880.0
5   41100.0         3.5        6.0       225.0      18.0         24.0  3893.0
6   79978.0         3.2        6.0       290.0      17.0         24.0  3153.0
7   23508.0         1.8        4.0       170.0      22.0         31.0  3252.0
8   32506.0         1.8        4.0       170.0      23.0         30.0  3638.0
9   28846.0         3.0        6.0       220.0      20.0         28.0  3462.0
10  30366.0         3.0        6.0       220.0      17.0         26.0  3583.0
11  31388.0         3.0        6.0       220.0      18.0         25.0  3627.0
12  33129.0         3.0        6.0       220.0      20.0         27.0  3561.0
13  35992.0         3.0        6.0       220.0      18.0         25.0  3880.0
14  38325.0         3.0        6.0       220.0      20.0         27.0  3814.0
15  40075.0         3.0        6.0       220.0      18.0         25.0  4013.0
16  38840.0         2.7        6.0       250.0      18.0         25.0  3836.0
17  44936.0         4.2        8.0       300.0      17.0         24.0  4024.0
18  64740.0         4.2        8.0       330.0      17.0         24.0  4399.0
19  43556.0         4.2        8.0       340.0      14.0         20.0  3825.0
20  76417.0         4.2        8.0       450.0      15.0         22.0  4024.0
21  32512.0         1.8        4.0       180.0      20.0         28.0  3131.0

    Wheelbase  Length
0       106.0   189.0
1       101.0   172.0
2       105.0   183.0
3       108.0   186.0
4       115.0   197.0
5       115.0   197.0
6       100.0   174.0
7       104.0   179.0
8       105.0   180.0
9       104.0   179.0
10      104.0   179.0
11      104.0   179.0
12      109.0   192.0
13      109.0   192.0
14      105.0   180.0
15      105.0   180.0
16      109.0   192.0
17      109.0   193.0
18      121.0   204.0
19      104.0   179.0
20      109.0   191.0
21       95.0   159.0

In [9]:
print(zaky['Type'])

0        SUV
1      Sedan
2      Sedan
3      Sedan
4      Sedan
       ...
423    Sedan
424    Sedan
425    Sedan
426    Wagon
427    Wagon
Name: Type, Length: 428, dtype: object

In [11]:
print(zaky.loc[:,['Type','Origin']])

      Type  Origin
0      SUV    Asia
1    Sedan    Asia
2    Sedan    Asia
3    Sedan    Asia
4    Sedan    Asia
..     ...     ...
423  Sedan  Europe
424  Sedan  Europe
425  Sedan  Europe
426  Wagon  Europe
427  Wagon  Europe

[428 rows x 2 columns]