In [1]:
import pandas as pd
import numpy as np

In [5]:
zaky = pd.read_csv('./cars.csv')
print(zaky)

      Make                    Model   Type  Origin DriveTrain     MSRP  \
0    Acura                      MDX    SUV    Asia        All  36945.0
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  23820.0
2    Acura                  TSX 4dr  Sedan    Asia      Front  26990.0
3    Acura                   TL 4dr  Sedan    Asia      Front  33195.0
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  43755.0
..     ...                      ...    ...     ...        ...      ...
423  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  40565.0
424  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  42565.0
425  Volvo               S80 T6 4dr  Sedan  Europe      Front  45210.0
426  Volvo                      V40  Wagon  Europe      Front  26135.0
427  Volvo                     XC70  Wagon  Europe        All  35145.0

     Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    33337.0         3.5        6.0       265.0      17.0         23.0
1    21761.0         2.0        4.0       200.0      24.0         31.0
2    24647.0         2.4        4.0       200.0      22.0         29.0
3    30299.0         3.2        6.0       270.0      20.0         28.0
4    39014.0         3.5        6.0       225.0      18.0         24.0
..       ...         ...        ...         ...       ...          ...
423  38203.0         2.4        5.0       197.0      21.0         28.0
424  40083.0         2.3        5.0       242.0      20.0         26.0
425  42573.0         2.9        6.0       268.0      19.0         26.0
426  24641.0         1.9        4.0       170.0      22.0         29.0
427  33112.0         2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
0    4451.0      106.0   189.0
1    2778.0      101.0   172.0
2    3230.0      105.0   183.0
3    3575.0      108.0   186.0
4    3880.0      115.0   197.0
..      ...        ...     ...
423  3450.0      105.0   186.0
424  3450.0      105.0   186.0
425  3653.0      110.0   190.0
426  2822.0      101.0   180.0
427  3823.0      109.0   186.0

[428 rows x 15 columns]

In [6]:
# tambahkan line code di bawah ini pada file id 
print(zaky[:1])

    Make Model Type Origin DriveTrain     MSRP  Invoice  EngineSize  \
0  Acura   MDX  SUV   Asia        All  36945.0  33337.0         3.5

   Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  Wheelbase  Length
0        6.0       265.0      17.0         23.0  4451.0      106.0   189.0

In [9]:
# kita akan mencoba membaca nama department pada csv file tersebut.
print(zaky['Type'])

0        SUV
1      Sedan
2      Sedan
3      Sedan
4      Sedan
       ...
423    Sedan
424    Sedan
425    Sedan
426    Wagon
427    Wagon
Name: Type, Length: 428, dtype: object

In [11]:
#Pada baris di atas kita menggunakan .loc untuk mencari column yang lebih spesifik. 
#Sedangkan : adalah perintah untuk mencari dari awal hingga akhir file tersebut berada.
print (zaky.loc[:,['Model', 'Origin']])

                       Model  Origin
0                        MDX    Asia
1             RSX Type S 2dr    Asia
2                    TSX 4dr    Asia
3                     TL 4dr    Asia
4                 3.5 RL 4dr    Asia
..                       ...     ...
423  C70 LPT convertible 2dr  Europe
424  C70 HPT convertible 2dr  Europe
425               S80 T6 4dr  Europe
426                      V40  Europe
427                     XC70  Europe

[428 rows x 2 columns]