In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import spacy

plt.rcParams['figure.figsize'] = (8, 8)

In [3]:
movies = pd.read_csv('./movies_metadata.csv').dropna()
movies['tagline'] = movies['tagline'].str.lower()
movies.head()

#Dalam latihan ini, Anda telah diberikan kumpulan lebih dari 7000 baris tag film. 
#Tugas Anda adalah membuat bagan representasi kata bow_matrix untuk tagline ini. 
#Untuk latihan ini, kita akan mengabaikan langkah preprocessing teks dan menghasilkan bow_matrix secara langsung.

C:\anaconda3\envs\zaky\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,no limits. no fears. no substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,a lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,one night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,welcome to the planet brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,the power is on!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0

In [4]:
corpus = movies['tagline']

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

# Create CountVectorizer object
vectorizer = CountVectorizer()

# Generate matrix of word vectors
bow_matrix = vectorizer.fit_transform(corpus)

# Print the shape of bow_matrix
print(bow_matrix.shape)

#Anda sekarang tahu cara menghasilkan sekantong representasi kata untuk kumpulan dokumen tertentu. 
#Perhatikan bahwa kata vektor yang dibuat memiliki lebih dari 6600 dimensi. 
#Namun, sebagian besar dimensi tersebut memiliki nilai nol karena sebagian besar kata tidak muncul dalam tagline tertentu.

(693, 1357)

In [15]:
nlp = spacy.load('en_core_web_sm')
stopwords = spacy.lang.en.stop_words.STOP_WORDS

#Menganalisis dimensi dan preprocessing
#Dalam latihan ini, Anda telah diberikan lem_corpus yang berisi versi pra-proses dari tagline film dari latihan sebelumnya. 
#Dengan kata lain, tagline telah dikecilkan dan dilemmatisasi, dan stopword telah dihapus.

C:\anaconda3\envs\zaky\lib\site-packages\spacy\util.py:837: UserWarning: [W095] Model 'en_core_web_sm' (3.4.0) was trained with spaCy v3.4 and may not be 100% compatible with the current version (3.3.1). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  path (Union[str, Path]): Path to meta.json.

In [16]:
lem_corpus = corpus.apply(lambda row: ' '.join([t.lemma_ for t in nlp(row) 
                                                if t.lemma_ not in stopwords 
                                                and t.lemma_.isalpha()]))

#Tugas Anda adalah membuat bagan representasi kata bow_lem_matrix untuk tagline lemmatisasi ini dan membandingkan
#bentuknya dengan bow_matrix yang diperoleh pada latihan sebelumnya.

In [17]:
vectorizer = CountVectorizer()

# Generate of word vectors
bow_lem_matrix = vectorizer.fit_transform(lem_corpus)

# Print the shape of how_lem_matrix
print(bow_lem_matrix.shape)

(693, 966)

In [18]:
sentences = ['The lion is the king of the jungle',
             'Lions have lifespans of a decade', 
             'The lion is an endangered species']

In [19]:
vectorizer = CountVectorizer()

# Generate matrix of word vectors
bow_matrix = vectorizer.fit_transform(sentences)

# Convert bow_matrix into a DataFrame
bow_df = pd.DataFrame(bow_matrix.toarray())

# Map the column names to vocabulary
bow_df.columns = vectorizer.get_feature_names()

# Print bow_df
bow_df

#Memetakan indeks fitur dengan nama fitur
#Dalam video pelajaran, kita telah melihat bahwa CountVectorizer tidak selalu mengindeks kosakata dalam urutan abjad. 
#Dalam latihan ini, kita akan belajar memetakan setiap indeks fitur ke nama fitur yang sesuai dari kosakata.

C:\anaconda3\envs\zaky\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,an,decade,endangered,have,is,jungle,king,lifespans,lion,lions,of,species,the
0,0,0,0,0,1,1,1,0,1,0,1,0,3
1,0,1,0,1,0,0,0,1,0,1,1,0,0
2,1,0,1,0,1,0,0,0,1,0,0,1,1